<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Registration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Registration.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>http://registro.cristianismobiblico.com/api/v1/</value>
            </setting>
            <setting name="dev" serializeAs="String">
                <value>http://192.168.15.20:3000/api/v1/</value>
            </setting>
            <setting name="prod" serializeAs="String">
                <value>http://registro.cristianismobiblico.com/api/v1/</value>
            </setting>
            <setting name="api_user" serializeAs="String">
                <value>apiv1user</value>
            </setting>
            <setting name="api_pass" serializeAs="String">
                <value>changeme</value>
            </setting>
        </Registration.Properties.Settings>
    </userSettings>
</configuration>
